.rank-1 {
  background:#e70ee0;
}
.rank-2 {
  background:#ea2a29;
}
.rank-3 {
  background:#f16729;
}
.rank-4 {
  background:#f89322;
}
.rank-5 {
  background:#ffcf14;
}
.rank-6 {
  background:#ffea0d;
}
.rank-7 {
  background: #87b11d;
}
.rank-8 {
  background:#008253;
}
.rank-9 {
  background:#3277b5;
}
.rank-10 {
  background:#4c549f;
}
.rank-11 {
  background:#764394;
}
.rank-12 {
  background:#A35F0C;
}
.rank-13 {
  background:#615e5e;
}
.rank-14 {
  background:#000000;
}