.rank-1 {
  background:#FF0EF0;
}
.rank-2 {
  background:#FF0050;
}
.rank-3 {
  background:#FF0020;
}
.rank-4 {
  background:#FF2800;
}
.rank-5 {
  background:#FF5a00;
}
.rank-6 {
  background:#FF9600;
}
.rank-7 {
  background: #FFd200;
}
.rank-8 {
  background:#d7ff00;
}
.rank-9 {
  background:#3eff00;
}
.rank-10 {
  background:#00ff83;
}
.rank-11 {
  background:#00e4ff;
}
.rank-12 {
  background:#0094ff;
}
.rank-13 {
  background:#0044ff;
}
.rank-14 {
  background:#0100ff;
}