.rank-1 {
  background:#76EE00;
}
.rank-2 {
  background:#CAFF70;
}
.rank-3 {
  background:#FFFF00;
}
.rank-4 {
  background:#CDCD00;
}
.rank-5 {
  background:#FFA500;
}
.rank-6 {
  background:#B8860B;
}
.rank-7 {
  background: #CD950C;
}
.rank-8 {
  background:#9400D3;
}
.rank-9 {
  background:#8B0A50;
}
.rank-10 {
  background:#E9967A;
}
.rank-11 {
  background:#FF82AB;
}
.rank-12 {
  background:#FF0000;
}
.rank-13 {
  background:#8B7765;
}
.rank-14 {
  background:#000000;
}
