body {
  font-family: 'Homemade Apple', cursive;
  font-weight: bold;
  margin:0;
}

.link {
  color: #8B2500;
  /*color: #8B0000;*/
  text-decoration: none;
  position:absolute;
}

.marker {
  position:absolute;
  width:22px;
  height:22px;
  border-radius:50px;
  opacity:0.55;
  background: #000;
  display:block;
  text-align: left;
  text-indent: 4px;
  font-size:15px;
  color:#000;
  line-height:25px;
}

.green {
  background:#006400;
}

.yellow {
  background:#EEEE00;
}

#rank-key-container {
  position:absolute;
  display:none;
  width:100%;
}

.rank-key {
  position:static;
  float:left;
  margin-right:3px;
}

.invisible-marker {
  background: none;
}

.red-marker {
  background: #ff0000;
}

.blue-marker {
  background: blue;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}
